@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  font-family: "Open-sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
}
.header {
  background: rgb(233, 27, 27);
  color: rgb(255, 255, 255);
  font-size: 36px;
  text-align: center;
  padding: 20px 0;
}
.card-container {
  height: 100%;
  width: 90%;
  padding: 32px 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  .card {
    height: 310px;
    width: 250px;
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
    margin: 20px;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: filter 0.3s ease-in-out;
    img {
      width: 80%;
      height: auto;
      object-fit: cover;
      display: block;
      margin: 0 auto;
    }
    .card-type {
      width: fit-content;
      margin: 10px auto;
      text-align: center;
      padding: 0.2rem 0.75rem;
      border-radius: 0.5rem;
      background: #eef;
    }
    p:nth-of-type(2) {
      width: fit-content;
      margin: 10px auto;
      text-align: center;
      font-weight: 600;
    }
    &:hover {
      filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.25));
    }
  }
}
.card-title {
  margin-top: 20px;
  text-align: center;
  text-transform: capitalize;
}
.fire {
  background: #ff7226;
}
.grass {
  background: #45f531;
}
.water {
  background: #009dc4;
}
.bug {
  background: #a52a2a;
}
.normal {
  background: #a8a878;
}
.poison {
  background: rebeccapurple;
}
.ground {
  background: sandybrown;
}
.electric {
  background: rgb(255, 220, 19);
}
.fairy {
  background: lightpink;
}
.fighting {
  background: rgb(255, 32, 32);
}
.psychic {
  background: rgb(149, 187, 12);
}
.rock {
  background: saddlebrown;
}
.ghost {
  background: purple;
}
.ice {
  background: rgb(0, 217, 255);
}
.dragon {
  background: rgb(255, 22, 99);
}
.steel {
  background: steelblue;
}
.dark {
  background: #000;
  color: #fff;
  .card-type {
    color: #000;
  }
}
